/* estilos generales */
* {
    margin: 0;
    padding: 0;
    font-family: "Lora", serif;
}
body {
    background: #131c27;
    color: #000;
}
/* estilos para el contenedor general */
.container{
    width: 90%;
    max-width: 100%;
    margin: 20px auto;
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, auto);
    grid-template-areas:
    "navbar navbar navbar navbar"
    "sidebar main main main"
    "widget-1 widget-2 widget-3 widget-4"
    "footer footer footer footer";
}
.container .navbar {
    grid-area: navbar;
}
.container .main {
    grid-area: main;
}
.container .sidebar {
    grid-area: sidebar;
}
.container .widget-1 {
    grid-area: widget-1;
}
.container .widget-2 {
    grid-area: widget-2;
}
.container .footer {
    grid-area: footer;
    padding: 15px;
    background: #fff ;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
}
/* estilos para los contenedores dentro del body */
.container > div,
.container .main,
.container .sidebar {
    background: #fff;
    border-color: lightslategray;
    padding: 15px;
    text-align: justify;
}
.container > div,
.container .main,
.container .sidebar,
.container .footer,
.navbar,
.portada .img-responsive,
.sidebar .radio-redondo,
.sidebar .maps,
.carousel,
.border{
    border-radius: 5px;
}

/* srollTop */
#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
}
/* estilos para los iconos del dropdown */
.logo-dropdown {
    width: 20px;
    height: 20px;
}

/* estilos para la portada */
.portada {
    display: flex;
    justify-content: center;
    align-items: center;
}
.portada .img-responsive{
    width: 966px;
    height: 562px;
}

/* mediaquerys */
@media screen and (max-width: 768px) {
    .portada {
        width: 500px;
        height: 300px;
        margin: 0 auto;
    }
    .portada .img-responsive {
        width: 500px;
        height: 300px;
        border-radius: 10px;
    }
    .container {
        grid-template-areas:
            "navbar navbar navbar navbar"
            "main main main main"
            "sidebar sidebar sidebar sidebar"
            "widget-1 widget-1 widget-1 widget-1"
            "widget-2 widget-2 widget-2 widget-2"
            "footer footer footer footer";
    }
}