/* estilos generales */
* {
    margin: 0;
    padding: 0;
    font-family: "Lora", serif;
}
body {
    background: #ffffff;
    color: #000;
}

/* estilos para el contenedor general */
.contenedor {
    width: 90%;
    max-width: 100%;
    margin: 20px auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
    "header header header"
    "contenido contenido sidebar"
    "widget-1 widget-2 widget-2"
    "footer footer footer";
}
.contenedor .header {
    grid-area: header;
}
.contenedor .contenido {
    grid-area: contenido;
}
.contenedor .sidebar {
    grid-area: sidebar;
}
.contenedor .widget-1 {
    grid-area: widget-1;
}
.contenedor .widget-2 {
    grid-area: widget-2;
}
/* estilos para los contenedores dentro del body */
.contenedor > div,
.contenedor .header,
.contenedor .contenido,
.contenedor .sidebar,
.contenedor .footer {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    text-align: justify;
}
/* estilos para el contenedor footer */
.contenedor .footer {
    background: #ffffff;
    color: rgb(0, 0, 0);
    grid-area: footer;
    font-size: 12px;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
}
.contenedor .sidebar .tarjeta,
.contenedor .sidebar .tarjeta .tarjeta {
    background: #1b2631;
}

.portada .img-responsive{
    border-radius: 10px;
}
.sidebar .radio-redondo{
    border-radius: 10px;
}
.sidebar .maps{
    border-radius: 10px;
}

/* srollTop */
#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
}

/* mediaquerys */
@media screen and (max-width: 768px) {
    .portada {
        width: 500px;
        height: 300px;
        margin: 0 auto;
    }
    .portada .img-responsive {
        width: 500px;
        height: 300px;
        border-radius: 10px;
    }
    
    .contenedor {
        grid-template-areas:
            "header header header"
            "contenido contenido contenido"
            "sidebar sidebar sidebar"
            "widget-1 widget-1 widget-1"
            "widget-2 widget-2 widget-2"
            "footer footer footer";
    }
}

